@media screen and (min-width: 768px) {
    .container {
        max-width: 760px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .logo {
        padding-top: 24px;
        padding-bottom: 24px;
    }


    .site-nav {
        display: flex;
    }

    .contacts {
        display: flex;
    }

    .hero-title {
        max-width: 496px;
        margin-bottom: 36px;

        font-size: 56px;
    }

    .hero-title-sm {
        text-transform: lowercase;
    }

    .principles-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .principles-list .title {
        text-align: left;
    }

    .principles-item {
        width: calc((100% - 24px) / 2);
    }

    .team-list {
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-item {
        width: calc((100% - 24px) / 2)
    }

    .customers-list {
        /* display: flex; */
        column-gap: 24px;
        /* justify-content: center; */
    }

    .customers-item {
        width: calc((100% - 48px) / 3);
    }

    .customers-icon {
        width: 104px;
    }

    .footer-container {
        /* display: flex; */
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
    }

    .footer-content {
        /* max-width: 264px; */
        margin-right: 24px;
    }

    .footer-logo {
        text-align: left;
    }


    .footer-social {
        /* max-width: 208px; */
        text-align: left;
        /* margin-right: 80px; */
    }

    /* .footer-form {
        display: flex;
    } */

    .footer-form-label {
        text-align: left;
    }

    .footer-form-thumb {
        flex-direction: row;
        gap: 24px;
    }

    .footer-form-input {
        max-width: 264px;
    }

    .modal {
        min-width: 408px;
        padding: 24px;
    }

    .modal-button {
        right: 0px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container-sm {
        max-width: 565px;
    }
}